canvas {
  position: fixed;
  top: 0;
  left: 0;
}
body { 
  margin: 0; 
}
#graph-addon {
  position: absolute; 
  top: 5px; 
  right: 5px;
}
#rotation-toggle{
  margin: 8px; 
  height: 25px; 
  width: 150px;
}
.node-label {
  font-size: 12px;
  padding: 1px 4px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.5);
  user-select: none;
}